{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doify Portal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Global-CSS/Global-Style.css' %}">
</head>
<body>
    <h1>Welcome to my page where I start my project</h1>   
    <h1>Vasudev Pareek</h1>
    <h4>03-08-2025 - 03:54pm changes</h4>
<!-- Normal Button -->
<button class="button normal">Label</button>

<!-- Icon Right -->
<button class="button normal">
  Label
  <span class="icon-right">→</span>
</button>

<!-- Icon Left -->
{% comment %} <button class="button medium">
  <span class="icon-left">＋</span>
  <img src="{% static 'Images/Plus-Sign.png' %}" alt="loading" class="Plus-icon" />
  Label
</button> {% endcomment %}

<button class="button normal">
  <img src="{% static 'Images/Plus-Sign.png' %}" alt="loading" class="Plus-icon" />
  Label
</button>

<!-- Disabled -->
<button class="button normal" disabled>Label</button>

<!-- Loading -->
<button class="button normal loading">Label</button>


<button class="button normal">
  Label
  <img src="{% static 'Images/Loading-White.png' %}" alt="loading" class="loading-icon" />
</button>


<!-- Normal Primary Buttons -->
<div class="row">
  <div class="label">Normal - Primary - No Icon</div>

  <!-- Default -->
  <button class="button primary normal">Label</button>

  <!-- Hover -->
  <button class="button primary normal" style="background-color: var(--btn-primary-bg-hover)">Label</button>

  <!-- Focus -->
  <button class="button primary normal" style="outline: 2px solid var(--btn-primary-bg); outline-offset: 2px;">Label</button>

  <!-- Click -->
  <button class="button primary normal" style="background-color: var(--btn-primary-bg-click)">Label</button>
  <button class="button primary normal" style="background-color: var(--btn-primary-bg-click)">
    Label
    <span class="icon-right">→</span>
  </button>

  {% comment %} <button class="button primary normal" style="background-color: var(--btn-primary-bg-click)">Label</button> {% endcomment %}
  <button class="button primary normal" style="background-color: var(--btn-primary-bg-click)">
    <img src="{% static 'Images/Plus-Sign.png' %}" alt="loading" class="Plus-icon" />
    Label
    {% comment %} <span class="icon-right">→</span> {% endcomment %}

  </button>

  <!-- Loading -->
  <button class="button primary normal loading">
    Label
    <img src="{% static 'Images/Loading-White.png' %}" class="loading-icon" alt="loading" />
  </button>

  <!-- Disabled -->
  <button class="button primary normal" disabled>Label</button>


  <div class="row">
  <div class="label">Normal - Secondary - No Icon</div>

  <button class="button secondary normal">Label</button>
  <button class="button secondary normal" style="background-color: var(--Color-Tint-Five);">Label</button>
  <button class="button secondary normal" style="outline: 2px solid var(--btn-primary-bg); outline-offset: 2px;">Label</button>
  <button class="button secondary normal" style="background-color: var(--btn-primary-bg-click); color: #fff;">Label</button>
  <button class="button secondary normal loading">
    Label
    <img src="{% static 'Images/Loading-Icon.png' %}" class="loading-icon" alt="loading" />
  </button>
  <button class="button secondary normal" disabled>Label</button>
</div>

</div>


</body>
</html>
